<nb-card>
    <!-- Header section -->
    <div class='create-or-edit-contact-header'>
        <div class="row">
            <div class="col-3">
                <img class="pop-up-bg-contact" src="../../../../assets/icons/contacts/pop-up-bg.svg">
                <img class="contact-user-icon" src="../../../../assets/icons/contacts/contact-user-icon.svg">
            </div>
            <div class="col-6 contact-content-title">
                <div class="d-flex justify-content-center title">
                    <h1>Add New Contact</h1>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-2">
                <img class="contact-icon-close" src="../../../../assets/icons/contacts/close.svg" (click)="cancel()">
            </div>
            </div>
    </div>
    <!-- End header section -->

    <!-- Body info section -->
    <div class='create-or-edit-contact-body'>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 contact-info">
                <div class="d-flex justify-content-center">
                    <div class="col-sm-6">
                        <div class="input-firstname">
                            <label class="required" for="inputFirstName">First Name</label>
                            <input type="text" class="form-control" id="inputTitleName" name="titleName">
                        </div>
                        <label class="required" for="inputCompany">Company</label>
                        <input type="text" class="form-control" id="inputTitleName" name="titleName">
                        <label for="inputJobTitle">Job Title</label>
                        <input type="text" class="form-control" id="inputTitleName" name="titleName">
                        <label class="required" for="inputPhoneNumber">Phone Number</label>
                        <input type="text" class="form-control" id="inputTitleName" name="titleName">
                    </div>
                    <div class="col-sm-6">
                        <label class="required" for="inputSurName">Surname</label>
                        <input type="text" class="form-control input-surname" id="inputTitleName" name="titleName">
                        <label for="inputDepartment">Department</label>
                        <input type="text" class="form-control" id="inputTitleName" name="titleName">
                        <label for="inputCountry">Country</label>
                        <input type="text" class="form-control" id="inputTitleName" name="titleName">
                        <label for="inputEmailAddress">Email Address</label>
                        <input type="text" class="form-control" id="inputTitleName" name="titleName">
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    <!-- End body info section -->

   <!--Publish to section-->
   <div class="create-or-edit-contact-publish-section">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="d-flex justify-content-center">
                    <div class="col-12 publish-to-group">
                        <label class="input-label required">Publish to</label>
                        <div class="supplier-group">
                            <div class="supplier-input select-all">
                                <label class="container supplier-title">Supplier name
                                    <input type="checkbox" (click)="selectAllSupplier()" [checked]="editedModel.Suppliers.length == mockDataSupplier.length">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="list-supplier">
                                <div class="viewport">
                                    <div *ngFor="let supplier of mockDataSupplier" class="supplier-input">
                                        <label class="container">{{supplier.Value}}
                                            <input type="checkbox"  (click)="onClickCheckboxSupplier(supplier.Id)" [checked] = "editedModel.Suppliers.indexOf(supplier.Id) != -1 ? true: false">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
   </div>
    <!--End of publish to section-->

    <!-- Button section -->
    <div class="create-or-edit-contact-footer">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="d-flex justify-content-center">
                    <div class="col-md-6 btn-section">
                        <a class="cancel-button" (click)="cancel()">Cancel</a>
                    </div>
                    <div class="col-md-6 btn-section">
                        <a class="save-button" (click)="save()">Save</a>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</nb-card>
