<div class="container documents">
  <div class="document-header">
    <h1 class="header-title">Documents</h1>
    <div class="header-button">
      <a class="button-add-new" (click)="onNewStoryBtnClick()">
        <div class="plus-button"></div>
        <div class="btn-content">
          add new document
        </div>
      </a>
    </div>
  </div>
  <div class="document-grid-contain">
    <nb-card
      class="col-lg-4 document-card"
      *ngFor="let document of listDocuments"
    >
      <!--Document path-->
      <div class="document-flex">
        <img [src]="document.Attachments" class="document-image" />
        <div class="banner">
          <div class="document-flex">
            <img src="./assets/dashboard-icon/new-flag.svg" />
            <div class="banner-text">New</div>
          </div>
        </div>
      </div>

      <!--Document description-->
      <div class="text-contain">
        {{ document.Description }}
      </div>

      <!--document detail-->
      <div class="detail">
        Date Added: <span class="date">{{ document.DateAdded | date: 'MM/dd/yyyy' }}</span>
      </div>
    </nb-card>
  </div>
</div>
