
nb-card {
    width: 571px;
    background-color: #ffffff;
    font-family: 'Nunito Sans';
    .close {
        width: 18px;
      }
    nb-card-header {
        color: #242a32;
        font-size: 30px;
        font-weight: 800;
        line-height: 30px;
        text-align: center;
    }
    nb-card-body {
        padding: 0 71px;
        .group-input {
            margin-bottom: 15px;
        }
        .group-title {
            color: #666666;
            font-size: 16px;
            line-height: 30px;
        }
        .required-field-title {
            color: #333333;
            font-size: 16px;
            font-weight: 600;
            line-height: 30px;
        }
        .asterisk-required {
            color: red;
        }
        .col-sm-10 {
            margin-top: 10px;
        }
        .col-sm-2 {
            margin-top: 10px;
            padding: 0;
        }
        .new-link-groupname {
            color: #666666;
            font-size: 16px;
            line-height: 30px;
        }
        input {
            border: 1px solid #e1e1e1;
            background-color: #ffffff;
            height: 48px;
        }
        .icon-remove, .icon-add {
            width: 40px;
            height: 40px;
            margin-top: 4px;
        }
    }
    .supplier-name {
        background-color: #e7edf1;
    }
    .cancel {
        background-color: #a5a5a5;
        cursor: pointer;
      }
    .create {
        background-color: #8ac53f;
        cursor: pointer;
    }
}
