.contact-content {
    .contact-box-wrapper {
        width: 100%;
    }

    .add-contact-button {
        background-color: #8DC63F;
        border-radius: 5px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-size: 15px;
        height: 50px;
        position: relative;
        width: 230px;

        span {
            margin-top: 4px;

            .fa-circle {
                background-color: #FFFFFF;
                border-radius: 50%;
                margin-top: 6px;
                margin-left: 10px;
                opacity: 0.3;
            }

            .fa-plus {
                margin-top: 6px;
                margin-left: 10px;
                font-size: 16px;
            }
        }

        .btn-content {
            display: inline-block;
            font-size: 16px;
            margin-top: 15px;
            margin-left: 20px;
            position: absolute;
            text-transform: uppercase;
        }
    }

    .contact-list {
        margin-top: 5px;

        .contact-card-list {

            .card-section {
                margin-top: 39px;

                .card-title {
                    font-size: 20px;
                    font-weight: bold;
                    color: #333333;
                }
            }

            .eclipse-dot {
                color: #555555;
                margin-top: 15px;
                margin-right: 10px;
                text-align: right;
              }
              
              .eclipse-dot::after {
                content: '\2807';
                font-size: 30px;
              }

            nb-card {
                height: 220px;
            }
        }
    }

    .header-title {
        color: #333333;
        font-size: 32px;
        font-weight: bold;
        line-height: 30px;
    }
}