<div class="contact-content container">
  <div class="row">
      <div class="col-1 col-sm-1"></div>
      <div class="col-10 col-sm-10">
          <!-- Content header and button -->
          <div class="d-flex justify-content-between">
            <h1 class="header-title">
              Contacts
            </h1>
            <a class="add-contact-button">
                <span class="fa-stack">
                  <i class="far fa-circle fa-stack-2x"></i>
                  <i class="fas fa-plus fa-stack-1x"></i>
                </span>
                <div class="btn-content">
                  Add New Contact
                </div>
            </a>
          </div>
          <!-- Grid contacts -->
          <div class="d-flex justify-content-center">
            <div class="contact-list">
                <div class="row">
                    <div *ngFor="let contact of (contacts)" class="col-12 col-md-12 col-lg-6">
                          <div class="contact-card-list">
                              <nb-card>
                                <div class="row">
                                  <div class="col-3 col-md-2 col-lg-3"></div>
                                  <div class="col-6 col-md-9 col-lg-7">
                                      <div class="card-section">
                                          <!-- <div class="card-title"> -->
                                              <h3>{{contact.FirstName}} {{contact.SurName}}</h3>
                                              <p>{{contact.Company}}/ {{contact.Department}}</p>
                                          <!-- </div> -->
                                            <p>{{contact.PhoneNumber}}</p>
                                            <p>{{contact.Email}}</p>
                                            <p>{{contact.Country}}</p>
                                      </div>
                                  </div>
                                  <div class="col-3 col-md-1 col-lg-2">
                                      <div class="eclipse-dot"></div>
                                  </div>
                                </div>
                                
                                
                              </nb-card>
                          
                          </div>
                        
                    </div>
                </div>
            </div>
              
          </div>
      </div>
      <div class="col-1 col-sm-1"></div>
    </div>
</div>