<div class="contact-content container">
  <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
          <!-- Content header and button -->
          <div class="d-flex justify-content-between">
            <h2>
              Contacts
            </h2>
            <a class="add-contact-button">
                <span class="fa-stack">
                  <i class="far fa-circle fa-stack-2x"></i>
                  <i class="fas fa-plus fa-stack-1x"></i>
                </span>
                <div class="btn-content">
                  Add New Contact
                </div>
            </a>
          </div>
          <!-- Grid contacts -->
          <div class="d-flex justify-content-center">
            <div class="contact-list">
                <div class="row">
                    <div class="col-6">
                        <div class="test">
                          
                            A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                            Originally, nebula was a name for any diffuse astronomical object,
                            including galaxies beyond the Milky Way.
                          
                        </div>
                    </div>
                    <div class="col-6 test">
                        <div>
                            
                          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                          Originally, nebula was a name for any diffuse astronomical object,
                          including galaxies beyond the Milky Way.
                        
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            
                          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                          Originally, nebula was a name for any diffuse astronomical object,
                          including galaxies beyond the Milky Way.
                        
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            
                          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                          Originally, nebula was a name for any diffuse astronomical object,
                          including galaxies beyond the Milky Way.
                        
                        </div>
                    </div>
                    <div class="col-6">
                        <div>
                            
                          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
                          Originally, nebula was a name for any diffuse astronomical object,
                          including galaxies beyond the Milky Way.
                        
                        </div>
                    </div>
                </div>
            </div>
              
          </div>
      </div>
      <div class="col-1"></div>
    </div>
</div>