// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
// $nb-enabled-themes: (default, cosmic, corporate, adjuno);
$nb-enabled-themes: (default, adjuno);

$nb-themes: nb-register-theme((
 // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: Roboto,
  font-secondary: Exo,

  switcher-background: #ebeff5,
  switcher-background-percentage: 50%,
  drops-icon-line-gadient: -webkit-linear-gradient(#01dbb5, #0bbb79),

  list-item-border-width: 1px,

  slide-out-container-width: 30%,
  slide-out-background: linear-gradient(270deg, #f7fafb 0%, #ecf2f5 100%),
  slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,

  chart-panel-summary-box-shadow: none,
  chart-panel-summary-background-color: #ecf2f5,
  chart-panel-summary-border-color: #ebeff1,
  chart-panel-summary-border-width: 1px,

  ecommerce-card-border-width: 1px,

  progress-bar-background: linear-gradient(90deg, #3edd81 0%, #3bddaf 100%),
), default, default);

$nb-themes: nb-register-theme((
  // Colors variables
  adjColor01: #ffffff,
  adjColor02: #000000,
  adjColor03: #8dc63f,
  adjColor04: #012842,
  adjColor05: #80b636,
  adjColor06: #76848e,
  adjColor07: #4c6676,
  adjColor08: #00416d,
  adjColor09: #dee4e8,
  adjColor10: #ef7104,
  adjColor11: #e80000,

 // app wise variables for each theme
  color-fg-highlight: adjColor03,
  color-primary: adjColor03,
  color-success: adjColor03,
  color-info: adjColor06,
  color-warning: adjColor10,
  color-danger: adjColor10,

  link-color: adjColor03,
  link-color-hover: adjColor04,

  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,

  font-main: unquote('Nunito, Roboto, "Helvetica Neue", Arial, sans-serif'),
  font-secondary: font-main,

  alert-suc-bg: '#fd0000',

  switcher-background: #fd0000,
  switcher-background-percentage: 50%,
  drops-icon-line-gadient: -webkit-linear-gradient(#01dbb5, #0bbb79),

  list-item-border-width: 1px,

  slide-out-container-width: 30%,
  slide-out-background: linear-gradient(270deg, #f7fafb 0%, #ecf2f5 100%),
  slide-out-shadow-color: 0 4px 14px 0 #a2d2c8,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #a2d2c8,

  chart-panel-summary-box-shadow: none,
  chart-panel-summary-background-color: #fbfbfb,
  chart-panel-summary-border-color: #ebeff1,
  chart-panel-summary-border-width: 1px,

  ecommerce-card-border-width: 1px,
  progress-bar-background: linear-gradient(90deg, adjColor03 0%, adjColor05 100%)
), adjuno, default);
