.useful-link-card{
    height: 220px;
    border: 1px solid #E1E1E1;
    background-color: #FFFFFF;

    .useful-link-card-header{
        color: #8DC63F;
        font-size: 20px;
        font-weight: bold;
        line-height: 30px;
        margin-left: 41px;
        padding-top: 40px;
    }

    .useful-link-card-separation{
        color: #8DC63F;
        margin-left: 42px;
        line-height: 40px;
    }


    .useful-link-item{
        color: #666666;
        font-size: 16px;
        line-height: 30px;
        margin-left: 41px;
    }
}