<nb-card>
  <nb-card-header>Preference
      <button type="button" class="close btn-close-modal adjuno-btn-close-modal" (click)="cancel()" data-dismiss="modal">
          <span>×</span>
      </button>
  </nb-card-header>
  <nb-card-body>
      <label class="form-label">Tile size:</label>
      <nb-card-body>
        <nb-select  [(selected)]="picked">
          <nb-option value="1">Large</nb-option>
          <nb-option value="2">Medium</nb-option>
          <nb-option value="3">Small</nb-option>
        </nb-select>
      </nb-card-body>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="danget" class="btn-reset" (click)="cancel()">Reset Settings</button>
    <button nbButton status="success" class="btn-apply" (click)="cancel()">Apply</button>
  </nb-card-footer>
</nb-card>
