.redirect {
  text-decoration: none;
}

.redirect:hover {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin-top: 26px;
}

nb-card {
  width: 100%;
  border: 1px solid #e8e8ed;
  display: block;
  text-align: center;
}

.item {
  background-color: #353135;
  color: #ffffff;
}

.add-item {
  background-color: #ffffff;
  color: #666666;
}

.add-tile {
  margin-top: 10px;
}

.dot-menu {
  height: 25px;
  margin-top: 20px;
  margin-right: 20px;
  display: block;
}

.tile {
  font-family: 'Helvetica';
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  margin-top: 36px;
}

.icon {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-right: 25%;
  display: block;
}

.add-icon {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-right: 25%;
  display: block;
}

.add-tile {
  margin-top: 10px;
}

.div-row {
  display: flex;
  justify-content: left;
}

@media (max-width: 533px) {
  .div-row {
    justify-content: center;
  }
}

.card-small {
  width: 135px;
  margin-left: 15px;
  margin-right: 15px;

  .add-tile {
    margin-top: 20px;
  }
}

.card-medium {
  width: 180px;
  margin-left: 15px;
  margin-right: 15px;
}

.card-large {
  width: 270px;
  margin-left: 15px;
  margin-right: 15px;
}
