<div class="container">
  <div class="row div-row">

    <div [ngClass]="{'card-small': tileSize=='small', 'card-medium': tileSize=='medium', 'card-large': tileSize=='large'}" *ngFor="let item of items">
      <a class="redirect" href="./{{item.link}}">
        <nb-card class="item">
          <nb-card-body>
            <img class="dot-menu float-right" src="../../../assets/dashboard-icon/dot-menu.svg">
            <img class="icon" src="../../../assets/dashboard-icon/{{item.icon}}">
            <p class="tile">
             {{item.tile}}
            </p>
          </nb-card-body>
        </nb-card>
      </a>
    </div>

    <div [ngClass]="{'card-small': tileSize=='small', 'card-medium': tileSize=='medium', 'card-large': tileSize=='large'}">
      <a class="redirect" (click)="onCreateTitle()">
        <nb-card class="add-item">
          <nb-card-body>
            <img class="dot-menu float-right" src="../../../assets/dashboard-icon/dot-menu-dark.svg">
            <img class="add-icon" src="../../../assets/dashboard-icon/add.svg">
            <p class="tile add-tile">Add a tile</p>
          </nb-card-body>
        </nb-card>
      </a>
    </div>
  </div>
</div>
